body {
  background: #bfc79e;
}

h1,
h2,
h3,
p {
  color: rgb(72, 47, 41);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#app {
  display: flex;
  gap: 10px;
  height: 100vh;
  width: 100%;
  max-width: 100vw;

  align-items: center;
  justify-content: center;
}

#mainButton {
  position: relative;
  margin-top: 45px;
}

#leafeon {
  object-fit: cover;
}

div {
  text-align: center;
  border-style: groove;
  border-radius: 8px;
  padding: 12px;
  min-width: 250px;
  max-height: 80vh;
  overflow-y: auto;
  aspect-ratio: 1/4;
}

#clickWindow {
  background-color: #f0e4c0;
  border-color: #b5a67b;
}

#clickWindow p,
#clickWindow h1,
#clickWindow h2,
#clickWindow h3 {
  color: rgb(113, 86, 72);
}

#forestWindow {
  background-color: #efede4;
  border-color: #787c69;
  overflow: hidden;
}

#shop {
  background-color: #6d754e;
  border-color: #78834d;
}

#shop p {
  color: #E5D1B6;
  padding: 10px;
  border-style: groove;
  border-radius: 8px;
  border-color: rgb(157, 122, 122);
  background-color: #9a7f69;
}
