body {
  /* background: #b5dfc5; */
  background: #c2e8d1;
}

h1,
p {
  color: rgb(103, 57, 45);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#buttonImg {
  position: relative;
  left: 300px;
  top: 20px;
}

#shop p {
  color: rgb(85, 58, 58);
  padding: 10px;
  border-style: groove;
  border-radius: 8px;
  border-color: rgb(157, 122, 122);

  background-color: #bdb29e;
}

div {
  width: 300px;
  height: 300px;
  /*
  position: relative;
  left: 500px;
  */
}
